.homeBlurb {
  font-family: "Megrim", cursive;
  font-size: 200px;
  color: #f23869;
  background-color: #0b0340b0;
}

.homeParagraph {
  color: #f23869;
  background-color: #0b0340b0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: left;
}

/* .homeJumbo {
  margin: 20px;
  padding: 20px;
  background-image: url(../../../imgs/neon.jpg);
  background-size: cover;
  background-position: bottom;
  margin-top: 50px;
  height: 60vh;
  width: 140vh;
} */

.homeJumbo {
  background-image: url(../../../imgs/neon.jpg);
  background-size: cover;
  background-position: bottom;
  margin-top: 50px;
  height: 60vh;
  width: 140vh;
  margin: 20px;
  padding: 20px;
  height: 60vh;
  width: 140vh;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.homeButton {
  background-color: #0b0340b0 !important;
  color: #f23869 !important;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 80px !important;
  text-align: center;
  justify-content: center;
  margin: 25px;
  width: 450px;
  height: 150px;
}

@media only screen and (max-width: 800px) {
  .homeJumbo {
    background-image: url(../../../imgs/neon.jpg);
    background-size: cover;
    background-position: right;
    height: 65vh;
  }

  .homeBlurb {
    font-size: 50px;
    font-family: "Megrim", cursive;
    color: #f23869;
  }

  .homeParagraph {
    font-size: 20px;
    font-family: "Noto Sans JP", sans-serif;
    color: #f23869;
  }
}
