.color-nav {
  /* background-image: linear-gradient(#f23869, #0b0340b0); */
  background-image: linear-gradient(to right, #f2386a, #0b0340b0);
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  color: #faf6f9b0 !important;
  /* padding: 15px; */
}

.navbar-brand {
  font-size: 30px !important;
}
