.game-over-container {
  background-color: #030226;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: column wrap;
}
.row {
  justify-content: center;
}

p {
  color: #f23869;
  font-family: 'Megrim', cursive;
  font-size: 200px;
  text-align: center;
  
}

Form {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  outline: thin;
  justify-content: center;
}

.btn-primary {
  background-color: #3621BF !important;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px !important;
  text-align: center;
  justify-content: center;
  margin: 25px;
  width: 300px;
  height: 60px;
}